<div class="trackContainer">

    <div class="content">
        <h2 class="trackLabel {{track.class}} enabled">{{track.title}}</h2>
        <div class="copy">
            <p>{{track.description}}</p>
        </div>
        <!-- <ul class="filters">
            <li *ngFor="let filter of track.tagClasses" class="filterLabel disabled {{filter.tag}}">{{filter.title}}</li>
        </ul> -->
    </div>

    <!-- <video autoplay muted playsinline #videoPlayer ></video> -->
    <div class="videoContainer">
        <video #videoPlayer controls src="{{track.videoURL}}"></video>
    </div>

</div>