:host{
    width: 100%;
    /* Fixes issue where margin bubbles up and is added to parent, causing a visible background color if app.component .container has a background color */
    display: flow-root;
    height: 100%;
}

.trackContainer {
    /* padding: 80px 10rem; */
    /* max-width: 1000px;
    margin: 0 auto; */
    /* width: 90%; */
    /* position: absolute; */
    z-index: -1;
    position: static;
    /* width: 62.5rem; */
    /* margin: 2rem auto 0; */
    box-sizing: border-box;
    /* background: yellow; */
    background: #fff;
    gap: 4%;
    height: 100%;
    padding: 2rem 3rem;
    overflow-y: scroll;
    overflow-x: visible;
}

/* 
  .trackContainer header {
      margin-bottom: 1.5rem;
  } */

header h2 {
    margin: 0 auto;
    display: block;
}

  .trackContainer section {
    display: flex;
  }

  @media only screen and (max-width: 56.25rem) {

    .trackContainer {
        padding: 1rem 1rem;
    }
    .trackContainer section {
        display: block;
    }
  }

  .trackContainer h2 {
      margin-left: 0;
      margin: 0 auto 2rem;
  }

.trackContainer .videoContainer {
    order: 2;
    /* width: 56%; */
}
.trackContainer .content {
    order: 1;
    width: 18.75rem;
    min-width: 18.75rem;
    margin-right: 6%;
}

.content .copy {
    background: #fff;
    /* padding: 1.5rem .75rem; */
    font-size: .75rem;
    line-height: 1.5;
}
.content .filters {
    margin-top: 1.5rem;
}

@media only screen and (max-width: 56.25rem) {
    .trackContainer .videoContainer, .trackContainer .content {
        width: 100%;
        margin: 0;
        min-width: auto;
    }
    .trackContainer .content .copy {
        overflow: hidden;
    }
}



video {
    width: 100%;
    background: black;

}

