
    .wrap {
        padding: 80px 120px;
        /* width: 90%; */
        position: absolute;
        z-index: -1;
        width: 100%;
        box-sizing: border-box;
        /* background: yellow; */

    }
    video {
        width: 50%;
        height: 300px;
    }
    :host{
        width: 100%;
     }