
  #main{
    background: lime;
    width: 90%;
    /* height: 100%; */
    /* position: relative; */
    position: fixed;
    height: 300px;
    z-index: -1;
  }

  header#contactInfo {
    background: url(/assets/images/bottom.png);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 130px;
  }
  #bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: scroll;
    background: url(/assets/images/top.png);
  }
  main {
    background: none;
  }