<div class="container">
  <div class="top">
    <!-- <div id="bg"></div> -->
<!-- 
    <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
      <app-home (toggleVideoEvent)="toggleHome()"></app-home>
    </div>
 -->

    <div id="main" [@routeAnimations]="prepareRoute(outlet)">
        <router-outlet #outlet="outlet"></router-outlet>

    </div>
    
    <nav id="transport">
      <ul>
        <!-- USE ROUTER LINK ACTIVE?? -->
        <li class="previous {{playlistService.isPrevTrackEnabled ? 'enabled' : 'disabled'}}">
          <a routerLinkActive="active" *ngIf="playlistService.isPrevTrackEnabled" routerLink="{{playlistService.prevTrackURL}}">Prev</a>
        </li>
        <li class="next {{playlistService.isNextTrackEnabled ? 'enabled' : 'disabled'}}"><a *ngIf="playlistService.isNextTrackEnabled" routerLink="{{playlistService.nextTrackURL}}">Next</a></li>
        <li class="home"><a routerLink="/">Home</a></li>
        <!-- <li class="home"><button (click)="toggleHome()">HOME</button></li> -->
      </ul>
    </nav>


    <div class="ipsBackground">

    </div>

    <button class="ipsButton {{this.mediaService.normalSpeed ? '' : 'fast'}}" (click)="toggleIPS()" >IPS</button>

  </div>
  
  
</div>
  
<header id="contactInfo">
  <h1>Bill Piotrowski</h1>
  <ul>
    <li>billpiotrowski@me.com</li>
    <li>216.287.6815</li>
  </ul>
  <div class="videoContainer">
    <video #timerVideo loop src="/assets/video/timer.mp4"></video>
  </div>
</header>

<!-- 
<main>

  <style>
    article {
      display: flex;
      padding: 20px;
    }
    article header {
      width: 40%;
    }
    video {
      width: 50%;
    }
  </style>




  <article>
    <header>
      <h2>Grey Cardinal</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/grey-cardinal.mp4"></video>
  </article>





  <article>
    <header>
      <h2>Lonesome Town</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/lonesome-town.mp4"></video>
  </article>





  <article>
    <header>
      <h2>You Can't Put Your Arms Around a Memory</h2>
      <p>Co-producer and mixer</p>
    </header>
    <audio controls src="/assets/audio/memory.mp3"></audio>
  </article>





  <article>
    <header>
      <h2>The Lion Rises</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/lion-rises.mp4" >
      
    </video>
  </article>





  <article>
    <header>
      <h2>Train Tracks and Paintbrushes</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/trains.mp4" >
      
    </video>
  </article>





  <article>
    <header>
      <h2>Track</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/track.mp4" >
      
    </video>
  </article>





  <article>
    <header>
      <h2>Highway</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/highway.mp4" >
      
    </video>
  </article>





  <article>
    <header>
      <h2>Night of the Wolf</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/night-of-the-wolf.mp4"></video>
  </article>





  <article>
    <header>
      <h2>Labyrinth of Dreams</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls >
      
    </video>
  </article>





  <article>
    <header>
      <h2>Song for the Ride</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls >
      
    </video>
  </article>





  <article>
    <header>
      <h2>Harpsichord</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls >
      
    </video>
  </article>




  <article>
    <header>
      <h2>Halloween</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls >
      
    </video>
  </article>




  <article>
    <header>
      <h2>Waves Controlling Waves</h2>
      <p>Co-producer and mixer</p>
    </header>
    <video controls src="/assets/video/waves.mp4"></video>
  </article>
</main> -->

