.container{
  position: fixed;
  background: yellow;
  width: 100%;
  height: 100%;
  display: block;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.top{
  background: gray;
  width: 100%;
  height: 100%;
  position: relative;
  background: url(/assets/images/dotted-bg.png) bottom center;
  background: url(/assets/images/holes-bg.png) bottom center;
  /* padding: 40px 80px 0; */
  /* 7.5vw - Based on height of ips background rounded up. */
  padding: 4rem 0 9vw;
  box-sizing: border-box;
  background-size: 1551.5px;
  background-size: 100vw;

}

@media only screen and (max-width: 56.25rem) {
  .top {
    padding: 1rem 0 9rem;
  }
  .container{
    padding-bottom: 6rem;
  }
}

.top .ipsBackground {
background: pink;
  background: url(/assets/images/ips-bg.png) bottom left no-repeat;
  background-size: 100vw;
  /* background: pink; */
  width: 100%;
  height: 7.315501127940703vw;
  /* height: 70px; */
  position: absolute;
  bottom: 0;
  left: 0;

}
/* 
@media only screen and (min-width: 1104px) {
  .top {
  }
} */

















/* ---------------------------------- CONTACT SECTION ---------------------------- */
header#contactInfo {
  width: 100%;
  background: gray url(/assets/images/bottom.png) no-repeat top center;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: 120px;
  background-size: 100vw;
  box-sizing: border-box;
  padding: 1rem 3rem 0;
  font-size: 1rem;
  line-height: 1.2;
}
header#contactInfo h1 {
  margin-bottom: .75rem;
}
header#contactInfo .videoContainer {
  /* background: lime; */
  position: absolute;
  width: 7.573316145665485vw;
  height: 2.900418949403803vw;
  left: 76.4743796326136vw;
  top: 3.67386400257815vw;
}
header#contactInfo .videoContainer video {
  width: 100%;
  height: 100%
}
@media only screen and (max-width: 56.25rem) {
  header#contactInfo{
    height: 6rem;
    padding: 1rem 1rem 0;
  }

}

/* @media only screen and (max-width: 56.25rem) {
  header#contactInfo{
    position: static;
    top: 0;
    padding: 1rem 1rem;
    background: #333;
    height: auto;
  }
  header#contactInfo .videoContainer {
    display: none;
  }

}


 */






















.open-close-container {
  position: absolute;
  /* top: -90vh;? */
  top: -100vh;
  height: 100vh;
  width: 100%;
  background: magenta;
  z-index: 60;

}








/* ----------------------------- MAIN TRACK CONTENT ------------------- */

  #main{
    width: 76%;
    max-width: 976rem;
    margin: 0 auto;
    /* height: 100%; */
    /* position: relative; */
    position: relative;
    height: 100%;
    z-index: 1;
    /* background: #fff; */
    /* background: peachpuff; */
    /* background: aqua; */
  }


  @media only screen and (max-width: 56.25rem) {
    #main {
        width: 90%;
    }
  }
















  .mainContainer {
    position: relative;
    z-index: 31;
    width: 100%;
    height: 100%;
  }

  /* #bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: scroll;
    background: url(/assets/images/top.png);
  } */
  main {
    background: none;
  }



  /* ----------------------------- TRANSPORT NAV ------------------------------ */
  nav#transport {
    position: absolute;
    /* width: 100vw; */
    width: 100%;
    top: 0;
    background: black;
    height: 0;
    left: 0;
    z-index: 10;
  }
  nav#transport li {
    position: absolute;
  }
  nav#transport li a {
    display: block;
  }
  nav#transport li.previous, nav#transport li.next {
    width: 5rem;
    height: 5rem;
    top: 36vh;
    background: url(/assets/images/transport-buttons.png);
    background-size: 200%;
  }
  nav#transport li.previous a, nav#transport li.next a {
    /* width: 70px; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -2000px;
  }
  nav#transport li.previous {
    left: 0;
  }
  nav#transport li.next {
    right: 0;
  }
  nav#transport li.previous {
    background-position-x: -80px;
    /* background: url(/assets/images/next.png) no-repeat right center; */
  }
  nav#transport li.disabled {
    background-position-y: -80px;
    /* background: url(/assets/images/next.png) no-repeat right center; */
  }
  nav#transport li.home {
    top: 0;
    left: 50%;
  }
  nav#transport li.home button {
    background: url(/assets/images/all-tracks-button.png) no-repeat top center;
    width: 14.75rem;
    height: 1.9375rem;
    display: block;
    background-size: 14.75rem;
    text-indent: -2000px;
    overflow: hidden;
    margin-left: -7.375rem;
  }
  nav#transport li.home button.filtered {
    background-position-y: -1.9375rem;
  }
  

  /* @media only screen and (max-width: 56.25rem) {
    nav#transport {
      top: auto;
      bottom: 0;
      height: 5rem;
      background: purple;

      background: gray url(/assets/images/bottom.png) no-repeat top center;
      background-size: 100vw;
    }
    nav#transport li.previous, nav#transport li.next {
      bottom: 0;
      top: auto;
    }

    nav#transport li.home {
      top: auto;
      bottom: 0;
      left: 50%;
    }
  } */


  @media only screen and (max-width: 56.25rem) {
    nav#transport {
      top: auto;
      bottom: 0;
    }

    nav#transport li.previous, nav#transport li.next {
      top: auto;
      bottom: 3rem;
    }
    nav#transport li.home {
      top: auto;
      bottom: 0;
    }
  }





.ipsButton {
  position: absolute;
    bottom: -4px;
    left: 46.197228488559459vw;
    width: 7.605543022881083vw;
    height: 7.605543022881083vw;
    /* margin-left: -3.802771511440541vh; */
    /* background: blue; */
    border: none;
    text-indent: -2000px;
    overflow: hidden;
    background: url(/assets/images/ips-knob.png);
    background-size: 200%;
    z-index: 31;
  }
  .ipsButton.fast  {
    background-position-x: -100%;
  }
@media only screen and (max-width: 56.25rem) {

  .ipsButton {
    display: none;
  }
}
