
.wrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 4rem 6vw 0;
    box-sizing: border-box;
    color: #fff;
    width: 76%;
    max-width: 976rem;
    margin: 0 auto;
    position: relative;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
p {
    margin-bottom: 1rem;
}

.wrap article {
    width: 100%;
    /* height: 100%; */
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: 6%;
}
.wrap article .filterContainer {
    /* width: 46%; */
    max-width: 20rem;
}
/* .wrap article .trackContainer {
} */

.filterContainer ul {
    margin-bottom: 2rem;
    background-position-x: -18.75rem;
}
.background {

    width: 100vw;
    height: 100vh;
    /* background: tan; */
    background: url(/assets/images/canvas.png);
    background: url(/assets/images/exterior-bg-bottom.png) no-repeat bottom center;

    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 17.672983693256941vw;
    box-sizing: border-box;
}

.background div {

    width: 100%;
    height: 100%;
    /* background: tan; */
    background: url(/assets/images/canvas.png);
    background: url(/assets/images/exterior-bg-loop.png) repeat bottom center;


    background-size: 100%;
}





@media only screen and (max-width: 56.25rem) {
    .wrap article .trackContainer {
        display: none;
    }
}






.close {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 102;
    /* background: purple; */
    margin-left: -7.375rem;
}
.close button {
    background: url(/assets/images/all-tracks-button.png) no-repeat top center;
    width: 14.75rem;
    height: 1.9375rem;
    display: block;
    background-size: 14.75rem;
    text-indent: -2000px;
    overflow: hidden;
    /* margin-left: -7.375rem; */
    background-position-y: 100%;
  }
  @media only screen and (max-width: 56.25rem) {
    .close {
        position: relative;
        top: auto;
        margin-top: 2rem;
        /* bottom: 0; */
      }
  }
  
  