<div class="wrap">
    <div class="content">

        <div class="filterContainer">
            <h3>Filters:</h3>
            <p>Select one or more filters from below to indicate which track on the right matches.</p>
            <ul>
                <li *ngFor="let filter of playlistService.filters">
                    <button 
                        (click)="this.playlistService.toggleFilter(filter.tag)"
                        class="filterLabel {{filter.tag}} {{filter.enabled ? 'enabled' : 'disabled'}}"
                    >{{filter.title}}</button>
                </li>
            </ul>

            <button (click)="this.playlistService.clearFilter()" class="reset">
                Reset
            </button>
            
<br />
<br />
            <button (click)="close()">CLOSE</button>
        </div>
        <!-- <a routerLink="{{this.playlistService.recentPageOrAlt()}}" >HOME</a> -->



        <div class="trackContainer">

            <h3>All Demos</h3>
            <ul class="tracks">
                <li *ngFor="let track of playlistService.tracks">
                    <span *ngIf="!track.visible" class="trackLabel {{track.visible ? 'enabled' : 'disabled'}} {{track.class}}" >{{track.title}}</span>
                    <a *ngIf="track.visible" (click)="toggleContainer()" routerLink="{{track.url}}" class="trackLabel {{track.visible ? 'enabled' : 'disabled'}} {{track.class}}" >{{track.title}}</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="background">
        <div></div>
    </div>
</div>

