

.wrap {
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding: 4rem 6vw 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}
.wrap .content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: row;
    gap: 6%;
}
.wrap .content .filterContainer {
    /* width: 46%; */
    max-width: 20rem;
}
.wrap .content .trackContainer {
    /* width: 46%; */
}

.filterContainer ul {
    margin-bottom: 2rem;
    background-position-x: -18.75rem;
}
.background {

    width: 100%;
    height: 100%;
    /* background: tan; */
    background: url(/assets/images/canvas.png);
    background: url(/assets/images/exterior-bg-bottom.png) no-repeat bottom center;

    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 17.672983693256941vw;
    box-sizing: border-box;
}

.background div {

    width: 100%;
    height: 100%;
    /* background: tan; */
    background: url(/assets/images/canvas.png);
    background: url(/assets/images/exterior-bg-loop.png) repeat bottom center;


    background-size: 100%;
}




/* 
{title: "Collage", tag: "collage", enabled: false },
{title: "Film Score", tag: "filmScore", enabled: false },
{title: "Orchestral Samples", tag: "orchestral", enabled: false },
{title: "Ondes Martenot", tag: "ondes", enabled: false } */

