<style>
    .singleClass {
        color: lime;
    }
</style>
<div class="wrap">
    <div class="content">

        <h3>All Demos</h3>
        <ul>
            <li *ngFor="let track of playlistService.tracks">
                <a (click)="toggleContainer()" routerLink="{{track.url}}" [ngClass]="{'singleClass' : track.visible}" >{{track.title}}</a>
             </li>
        </ul>
        <h3>Filters</h3>
        <ul>
            <li *ngFor="let filter of playlistService.filters"><button (click)="this.playlistService.toggleFilter(filter.tag)">{{filter.title}}</button></li>
        </ul>
        <button (click)="this.playlistService.clearFilter()">Reset</button>
    
        <button (click)="close()">HOME</button>
        <!-- <a routerLink="{{this.playlistService.recentPageOrAlt()}}" >HOME</a> -->
    </div>

    <div class="background">
        <div></div>
    </div>
</div>

